@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 28px;
}

h3 {
    font-weight: 600;
    color: #5A537B;
    font-size: 20px;

}

p {
    font-weight: 400;
    color: #353535;
    font-size: 14px;
}

input {
    font-weight: 800;
    font-size: 58px;
    background-color: transparent;
    border: 3px solid #B295FF;
    border-radius: 4px;
    width: 20%;
    color: #fff;
    text-align: center;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #fff;
    text-align: center;
}

.container {
    background: #6943fe;
    color: white;
    padding: 30px;
}

.main {
    background: #f4f4f4;
    padding: 10px;
}

.section {
    background: white;
    padding: 30px 10px;
    margin: 36px;
}

button {
    display: block;
    margin: 25px auto;
    font-weight: 500;
    font-size: 16px;
    background-color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    color: #3D3D3D;
    cursor: pointer;
}
